<ion-modal-view align-title="center">
  <ion-header-bar  class="loginHeader" align-title="center">
    <h1 style="padding:4px;color: white;" class="title">Create Activity</h1>
    <div class="buttons">
      <button class="button button-clear" style="color:#ccc;" ng-click="closeLogin()"><i class="icon ion-android-close"></i> </button>
    </div>
  </ion-header-bar>
 <!--  <video autoplay loop="true" autoplay="true" style="-webkit-filter: blur(5px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: fixed;" webkit-playsinline><source src="img/video.ogv"></video> -->
  <img src="./img/1.jpg" style="-webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: fixed;">
  <ion-content overflow-scroll="false" scrollbar-y="false" >
  
    <form ng-submit="doLogin()">
    <div  style="margin:0;margin-top:2px;padding:0;text-align:center;">
            <a id="wrap" class="wrapper" style="text-align:center;"><img  style="padding:10px;color:#ccc;width:100px;border:1px #ccc solid;margin-top:15px;border-radius:5px" src="./img/camera.png.png"></a>
  <div class="list" style="padding:15px;">
  <li class="item item-toggle" style="background-color: transparent !important;border:none;margin-top:0px;/**smargin-top:15px**/">
    <p style="float:left;text-align:center;color:#fff;font-size:14px;font-weight: bold;">Public</p>
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</label>
 <label class="item item-input" style="background-color: transparent !important;border-top-left-radius: 1em;border-top-right-radius: 1em;">
    <input type="text" placeholder="Activity" style="color:white">
  </label>
<div>  
 </div>
  <label class="item item-input" style="background-color: transparent !important;">
    <input type="text" placeholder="Details"  style="color:white">
  </label>
  <label class="item item-input" style="background-color: transparent !important;">
    <input type="text" placeholder="People Count"  style="color:white">
  </label>
<label class="item item-input" style="background-color: transparent !important;">
    <i class="icon ion-location placeholder-icon"></i>
    <input type="text" placeholder="Search Place">
  </label>
   <button ng-click="openPopover($event)" style="padding:0px;margin:0;border:1px white solid;border-radius:0%" class="button button-block button-stable">
  What do you want ?
</button>
  <div class="item range" style="background-color: transparent !important;border-bottom-left-radius: 1em;border-bottom-right-radius: 1em;">
  <i style="color:white;" class="icon ion-ios-sunny-outline"></i>
  <input style="color:white;" type="range" name="volume">
  <i  style="color:white;" class="icon ion-ios-moon"></i>
  <p style="text-align:center;color:white;margin-left:10px;font-weight:bold;">11:30 AM</p>
</div>
<p style="color:#ccc;font-size:30px;float:right;margin:10px;margin-left:20px;margin-right:20px"><i class="icon ion-social-facebook"></i></p>
<p style="color:#ccc;font-size:30px;float:right;margin:10px"><i class="icon ion-android-share-alt"></i></p>

<button class="button button-block button-positive" style="margin-bottom:0px;">
  Create Activity 
</button>
</div>


</div>

  </form>

  </ion-content>
</ion-modal-view>