<ion-view hide-nav-bar="true" >
<!--  <video controls preload="auto" loop="true" autoplay="true" style="-webkit-filter: blur(5px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: fixed;"" webkit-playsinline><source src="img/video.mp4"></video> -->
        <ion-content  style=" background: url(./img/back.png) center; background-size: cover;"
"  overflow-scroll="false" scrollbar-y="false">
<div style="">
 <div class="row">
 <div class="col">
                <h1 id="hh" style="margin-top:105px;font-size:120px;" >Joyin</h1>
 </div>
 </div>
               
     <div class="row" style="margin-top:15px;">
       <div class="col col-center">
               <p id="hh" style="font-size:25px">Discover Joyin Enjoy</p>
     
       </div>
     </div> 
       
       
        <div class="row" style="margin-top:145px;">
        <div class="col">
            <a class="button button-block button-positive ink" href="#/profile1" style="text-transform:none;"><i style="padding-right:20px;" class="icon ion-social-facebook"></i>Login with Facebook</a>
            <p style="font-size:11px;margin-top:12px;text-align:center;color:#F1F1F1;">By signing up I agree to the <a style=" text-decoration:none;color:#444" href="#">Terms of Use</a> and <a style="color:#444;text-decoration:none;" href="#">Privacy</a> policy of Joyin</p> 
        </div>
        </div>
        </ion-content>
      </ion-view>