<ion-view hide-nav-bar="true" >
        <ion-content  style=" background: url(./img/back.png) center; background-size: cover;" overflow-scroll="false" scrollbar-y="false">
        <div style="text-align:center;position:fixed;top:360px;left:85px;margin:auto;">
          
        <img src="./img/mm.png" width="180px" style="position:absolute;margin-left:10px;text-align:center;background-color:transparent !important">
        </div>
         <ion-slide-box style="height:600px;/** 620px **/" on-slide-changed="slideHasChanged($index)">
<ion-slide>
 <h1 id="ll" style="margin:20px;margin-top:50px;font-size:43px;color:white;">SHARE <br> WHAT <br> ACTIVITY<br> YOU WANT<br>TO DO</h1>
</ion-slide>
<ion-slide>
<h1 id="ll" style="margin:20px;margin-top:50px;font-size:43px;color:white;">LET NEARBY <br> FRIENDS <br> KNOW <br> VIA <br> NOTIFICATION</h1>
  </ion-slide>
  <ion-slide>
<h1 id="ll" style="margin:20px;margin-top:50px;font-size:43px;color:white;">GET TOGETHER<br>OVER AN<br>ACTIVITY AND BE SOCIAL</h1>
  </ion-slide>
        </ion-slide-box> 
        

        </ion-content>
        <div class="bar bar-footer" style="height:50px;background-color: transparent !important;border-top:1px white solid;">
  <a class="title" id="ll" href="#/tab/chats" style="text-decoration: none;color:white;">CONTINUE</a>
</div>
      </ion-view>