<ion-tabs class="tabs-icon tabs-color-active-positive">
  <ion-tab title="" class="" icon-off="icon ion-home" icon-on="icon ion-home" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
   <ion-tab title="" icon-off="ion-earth" icon-on="ion-earth" href="#/tab/search">
    <ion-nav-view  name="tab-search"></ion-nav-view>
  </ion-tab>
  <ion-tab title="" icon-off="ion-person" icon-on="ion-person" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
</ion-tabs>
